PRH/PRH/PRH/Connected Services/PRHService/Service142.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PRHServiceLibrary.Data.AvisosAusencia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PRHServiceLibrary.Data.AvisosAusencia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfObjAvisosAusencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjAvisosAusencia" nillable="true" type="tns:ObjAvisosAusencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjAvisosAusencia" nillable="true" type="tns:ArrayOfObjAvisosAusencia" />
  <xs:complexType name="ObjAvisosAusencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autoriza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciclo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condics" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CtroCto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dias" type="xs:long" />
      <xs:element minOccurs="0" name="Expira" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Folio" type="xs:long" />
      <xs:element minOccurs="0" name="Intervalo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Loc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Observ1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observ2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puesto" type="xs:double" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjAvisosAusencia" nillable="true" type="tns:ObjAvisosAusencia" />
</xs:schema>