PRH/PRH/PRH/Connected Services/PRHService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PRHServiceLibrary.Data.Login" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PRHServiceLibrary.Data.Login" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjLogin" nillable="true" type="tns:ObjLogin" />
</xs:schema>