PRH/PRH/PRH/Connected Services/PRHService/Service141.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PRHServiceLibrary.Data.MotivoAviso" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PRHServiceLibrary.Data.MotivoAviso" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfObjMotivoAviso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjMotivoAviso" nillable="true" type="tns:ObjMotivoAviso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjMotivoAviso" nillable="true" type="tns:ArrayOfObjMotivoAviso" />
  <xs:complexType name="ObjMotivoAviso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vac" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjMotivoAviso" nillable="true" type="tns:ObjMotivoAviso" />
</xs:schema>